<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{ partial "libsass" "scss/roadmap001.scss" }}
    <!-- Remove the line below if you don't want to use TailwindCSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <!-- Change code below this line -->

  <body>
    <main>
      <div class="wrapper">
        <section class="buttons-section">
          <div class="section-header">Buttons</div>
          <div class="buttons">
            <div class="buttons-default">
              <p class="button-desc">
                Default
              </p>
              <button class="button-primary">
                Primary Button
              </button>
              <button class="button-secondary">
                Secondary Button
              </button>
            </div>
            <div class="buttons-hovered">
              <p class="button-desc">
                Hovered
              </p>
              <button class="button-primary">
                Primary Button
              </button>
              <button class="button-secondary">
                Secondary Button
              </button>
            </div>
          </div>
        </section>
      </div>
    </main>
  </body>
  <!-- Change code above this line -->
</html>
